@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("./components/alert/alert.css");
@import url("./components/avatar/avatar.css");
@import url("./components/badge/badge.css");
@import url("./components/button/button.css");
@import url("./components/card/card.css");
@import url("./components/carousel/carousel.css");
@import url("./components/checkbox/checkbox.css");
@import url("./components/colors/colors.css");
@import url("./components/input/input.css");
@import url("./components/modal/modal.css");
@import url("./components/radio/radio.css");
@import url("./components/toast/toast.css");
@import url("./components/tooltip/tooltip.css");
@import url("./components/typography/typography.css");
@import url("./utilities/utilities.css");
@import url("./styles.css");

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main-container {
    margin-top: 1.6rem;
}

.container-style-development-purpose {
    display: grid;
    grid-template-columns: 0.8fr 4fr;
    grid-template-rows: 50px 1fr;
    height: 100vh;
    overflow: hidden;
}

.main-body-kaali {
    margin-top: 64px;
    overflow: auto;
    overflow-x: hidden;
    height:  calc(100vh - 70px);
    padding: 1rem;
}

.sidebar-list-kaali {
    display: flex;
    justify-self: center;
    list-style: none;
    overflow-y: auto;
    flex-direction: column;
    height: calc(100vh - 64px);
    margin-top: 64px;
    /* background-color: var(--kaali-sidebar-background); */
    padding: 1rem 0rem;
    text-transform: capitalize;
}

.sidebar-list-kaali::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.sidebar-list-kaali::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar-list-kaali::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--kaali-status-available-background);
}

.sidebar-list-kaali .sidebar-list-items {
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}

.body-style-development-purpose .sidebar-list-items:hover {
    color: var(--kaali-status-available-background);
}

.params {
    margin: 1rem 0rem;
    padding-bottom: 1rem;
}

hr {
    width: 100%;
}

.code-box {
    padding: 1rem;
}




@media only screen and (max-width: 480px) {
    .container-style-development-purpose {
        display: block;
    }
    .code-box {
        padding: 1rem 0;
    }

    .main-body-kaali {
        padding-left: 1rem;
        overflow-x: hidden;
    }
    .sidebar-container-kaali {
        display: none;
    }

}

@media screen and (min-width: 480px) and (max-width:985px) {
    .container-style-development-purpose {
        display: block;
    }
    .main-body-kaali {
        padding: 1rem;
    }
    .sidebar-container-kaali {
        display: none;
    }
    .code-box {
        padding: 1rem 0rem;
    }

}

