.navigation {
    position: relative;
    height: 100px;
    width: 90%;
    margin: 0 auto;
}
.nav-bar {
    display: flex;
    align-items: center;
    background-color: rgb(238, 238, 238);
    padding: 1rem 0;
}

.nav-header {
    flex: 1 1;
    color: #4d6e7c;
    padding-left: 5rem;
}

.nav-list {
    display: flex;
    list-style: none;
    flex: 1 1;
    justify-content: space-around;
}

.nav-list>li {
    color: #3CA1CD;
    font-weight: 500;
    cursor: pointer;
}

.nav-list > li:hover {
    color: #296f8d;
    font-weight: 500;
}

@media all and (max-width: 633px) {
    .nav-header {
        font-size: 1rem;
        padding-left: 0.5rem;
    }

    .nav-list > li {
        font-size: 0.8rem;
    }

    .nav-list {
        flex: 2 1;
    }
}

@media all and (max-width: 900px) and (min-width: 634px) {
    .nav-header {
        flex: 1 1;
        color: #4d6e7c;
        padding-left: 1.8rem;
    }
}